body {
  margin: 10px;
  padding: 0;
      font-family: Cambria, Georgia, serif;
}

ul {
  margin: 0;
  padding: 0;
}


.navigation-link {
  outline: 1px solid red;
  margin: 0;
  width: 33%;
  float:left;

}

.navigation-list {
  list-style: none;
  background: yellow;

}

.logo-container {
  text-align: center;
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
}

.title {
  font: normal 1.4em "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
  text-align: center;
  margin-bottom: 0.25em;
  margin-top: 0;
}

.main {
  line-height: 1.4;
}
